services:
  db:
    container_name: garbage-postgres
    image: postgres:15.2
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - garbage-backend

  redis:
    container_name: garbage-redis
    image: redis:5.0
    restart: always
    ports:
      - 6379:6379
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - garbage-backend

volumes:
  postgres_data:
  redis_data:

networks:
  garbage-backend:
